
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/* CONTENEDORES DEL NAV Y EL FOOTER*/

/* MEDIA QUERIES PARA MOSTAR EL NAVBAR FIXED O RELATIVO*/
@media screen and ( min-width: 520px ){
    #navBar{
        position: fixed;
        width: 100%;
        top: 0%;
        z-index: 1000;
    }    
    .mainContainer{
        margin-top: 100px;
    }
}

@media screen and ( max-width: 519px ){
    #navBar{
        position: relative;
        width: 100%;
        top: 0%;
        z-index: 1000;
    }   
    .mainContainer{
        margin-top: 0;
    } 
}
/* ------------------------------------------------------------------------------------------------------------*/

body{
    background-color: rgb(22, 22, 22);
}

/* BAJAR EL CONTENEDOR PRINCIPAL PARA QUE NO LO OCULTE EL NAVBAR*/
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*FIXED PLAY BUTTON*/
.playButton{
    position: fixed;
    width: 150px;
    height: 50;
    margin: 20px;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgb(255, 196, 0);
    outline: none;
    border: none;
    border-radius: 10px;
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    transform: skew(-10deg, 0);
    transition: background-color 0.3s, box-shadow 0.3s, width 0.3s, height 0.3s ease-in-out 0s;
}


.playButton:hover{
    background-color: rgb(255, 196, 0);
    box-shadow: 0 0 5px 5px rgb(255, 196, 0, .5);
    width: 155px;
    height: 55;
}

/*PRIMERA SECCIÓN*/

.gameSection{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.gameSection h1{
    color: #fff;
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}

.cover{
    width: 98%;
    border-radius: 10px;
    height: 60vh;
    background-color: rgb(19, 19, 19);
}

.gameSection h2{
    margin: 20px;
    color: #fff;
    font-size: 20px;
    font-family: "Comfortaa", cursive;
}

.gameSection p{
    margin: 20px;
    color: #fff;
    font-size: 12px;
    font-family: "Comfortaa", cursive;
}

/* SECCIÓN DE DESCRIPCIÓN*/
.sectionContainers{
    margin: 20px;
    width: 95%;
    border-radius: 10px;
    background-color: rgb(15, 15, 15);
}

.sectionContainers h2{
    margin: 20px;
    color: #fff;
    font-size: 30px;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 2;
}

.sectionContainers p{
    margin: 20px;
    color: #fff;
    font-size: 15px;
    font-family: "Comfortaa", cursive;
}

.vanillaJavascript{
    color:  rgb(255, 196, 0);
}

/* SECCIÓN DE JUGABILIDAD*/

.characterContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.characterImage{
    margin: 30px;
    width: 25%;
    height: 25%;
}

.controls{
    width: 50%;
    height: 50%;
}

.characterDescriptionContainer{
    margin: 20px;
    background-color: #fff;
    transform: skew(-10deg, 0 );
    border-radius: 10px;
    max-width: 600px;
}

.characterDescriptionContainer h2, .characterDescriptionContainer p{
    color: #000;
}

@media screen and ( min-width: 1000px ){
    .characterImage{
        width: 25%;
        height: 25%;
    }

}

@media screen and ( max-width: 1024px ){
    .characterImage, .controls{
        min-width: 200px;
        min-height: 200px;
    }

    .characterDescriptionContainer{
        max-width: 300px;
    }
}

@media screen and ( max-width:700px ){
    .characterContainer{
        width: 100%;
        display: flex;
        flex-direction: column;
 
    }
    .characterImage, .controls{
        min-width: 200px;
        min-height: 200px;
    }

    .characterDescriptionContainer{
        max-width: 300px;
        transform: skew(0,0);
    }
    .cover{
        width: 98%;
        height: 200px;
    }
}


