
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Secular+One&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

/*contenedor principal*/
.contenedor {
    width: 100%;
    background-color: #141414;
    height: 70px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 3px 3px rgba(15, 15, 15, .5);
    animation: md .3s;
}

@keyframes md{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}


/*centrar vertical, horizontal o completamente*/
.centrarV {
    align-items: center;
}
.centrarH {
    justify-content: center;
}

.centrar {
    align-items: center;
    text-align: center;
    justify-content: center;
}


/*logo tamaño constante*/
.logo {
    margin: 0px;
    width: 120px;
    height: 50px;
    border-radius: 10px;
}

li,
a,
.logInBtn {
    font-family: "Bebas Neue", cursive;
    font-size: 20px;
    color: #edf0f1;
    text-decoration: none;
}


/*navbar*/
.linksNav {
    list-style: none;
    position: relative;
    display: flex;
    left: 0;
    height: 100%;
}

/*items del navbar*/
.linksNav li {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px;
    height: 100%;
    transform: skew(10deg, 0);
    transition: background-color 0.3s ease-in-out 0s;
}

.linksNav li:hover {
    background-color: rgb(0, 76, 138);
}

/* .linksNav li a:hover{
    color: rgba(83, 178, 255, 0.856);
    text-shadow: 2px 2px #000;
    transition: all 0.5s ease 0s;
} */


/*boton de logueo*/
.logInBtn {
    margin: 20px;
    width: 100px;
    height: 40px;
    background-color: rgb(0, 76, 138);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
    font-size: 15px;
    transition: background-color 0.3s, box-shadow 0.3s ease-in-out 0s;
}

.logInBtn:hover {
    background-color: rgb(3, 102, 184);
    box-shadow: 0 0 3px 3px rgba(3, 102, 184, 0.5);
}


/*contenedor del avatar y del nombre de usuario*/
.usContainer {
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 30px;
}

.avatarName {
    font-family: "Comfortaa", cursive;
    margin: 15px;
    color: #8f8f8f;
    font-size: 15px;
    transition: color 0.3s, text-shadow 0.3s ease-in-out 0s;
}

.avatarName:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-shadow: 1px 1px #000;
}


/*Menu desplegable para mostrar las opciones de usuario*/
.userOptionsNav{
    position: absolute;
    visibility: hidden;
    top: 100%;
    width: 100%;
    background-color:rgb(32, 32, 32);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out 0s;
}

.userOptionsNav li{
    list-style: none;
    padding: 10px;
    color: #fff;
    transition: background-color 0.3s ease-in-out 0s;
}
.userOptionsNav li:hover{
    background-color:rgb(3, 102, 184);
    cursor: pointer;
}

.usContainer:hover .userOptionsNav{
    visibility: visible;
    opacity: 1;
}


/*Queries para adaptar el navbar*/
@media screen and (min-width: 520px) {
    .seccion1 {
        position: relative;
        width: 20%;
        height: 100%;
        display: flex;
    }

    .seccion2 {
        position: relative;
        width: 60%;
        height: 100%;
        display: flex;
    }
    .seccion3 {
        position: relative;
        width: 20%;
        height: 100%;
        display: flex;
    }

    .logInBtn{
        position: absolute;
        right: 0;
    }
}

@media screen and (max-width: 519px) {
    .contenedor {
        width: 100%;
        height: 250px;
        background-color: #141414;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .seccion1,
    .seccion2,
    .seccion3 {
        width: 100%;
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .linksNav{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .usContainer {
        right: 0;
        width: 100%;
        height: 50px;
        padding: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

 

}
